<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <H1>ALL LISTINGS</H1>
   

    <ul>
        <%for(let list of alllisting){%>
            
       
            <li> <a href="/listings/<%=list._id%>"><%=list.title%></a>
          
             
        
     <% } %>
   
     
     
     </ul>
     <form method="get"action="/listings/new">
     <button>add new listing</button>
    </form>
    
    
    
</body>
</html>
