<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <p>ADD NEW LISTING</p>
    <form method="post"action="/listings">
<input name="title"placeholder="write your title"type="text">
<br>
<br>


<textarea name="description"placeholder="write your description"></textarea>
<br>
<br>
<input name="image.filename"placeholder="enter filename"type="text">
<br>
<input name="image.url"placeholder="enter image url/"type="text">
<br>
<br>
<input name="price"placeholder="what is  price"type="number">
<br><br>
<input name="location"placeholder="write location"type="text">
<br><br>
<input name="country"placeholder="write country"type="text">
<br>
<br>
<button>ADD</button>


    </form>
    
</body>
</html>
